<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:/spring/springContext.xml"/>
    <import resource="classpath:/spring/appStatusContext.xml"/>
    <import resource="classpath:/spring/cxfContext.xml"/>
    <import resource="classpath:/spring/spring-quartz.xml"/>
</beans>
